<body>
  <h3>Vaccinated</h3>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label> First name</label>
      <input
        id=""
        name="firstname"
        [(ngModel)]="person.firstname"
        type="text"
        class="form-control"
        placeholder=""
        required
        name="firstname"
        #firstname="ngModel"
      />
      <span style="color: red" *ngIf="!firstname.valid && firstname.touched">
        firstname
      </span>
    </div>

    <div class="form-group">
      <label> LAst name</label>
      <input
        id=""
        name="lastname"
        [(ngModel)]="person.lastname"
        type="text"
        class="form-control"
        placeholder=""
        required
        #lastname="ngModel"
      />
      <span style="color: red" *ngIf="!lastname.valid && lastname.touched">
        lastname
      </span>
    </div>

    <div class="form-group">
      <label> Email </label>
      <input
        id=""
        name="emailId"
        [(ngModel)]="person.emailId"
        type="email"
        class="form-control"
        placeholder=""
        required
        #email="ngModel"
      />
      <span style="color: red" *ngIf="!email.valid && email.touched">
        lastname
      </span>
    </div>

    <div class="form-group">
      <label> Image</label>
      <input
        id=""
        name="url"
        [(ngModel)]="person.url"
        type="text"
        class="form-control"
        placeholder=""
        required
        #url="ngModel"
      />
      <span style="color: red" *ngIf="!url.valid && url.touched">
        lastname
      </span>
    </div>
    <div class="form-group">
      <label> Vaccin type</label>
      <select
        id=""
        name="cp_fk"
        [(ngModel)]="person.cp_fk"
        type="text"
        class="form-control"
        placeholder=""
        required
      >
        <option value="">--Please choose an option--</option>
        <option value="1">Pfizer</option>
        <option value="2">SINOVAC</option>
        <option value="3">AstraZeneca</option>
      </select>
    </div>

    <button [disabled]="!f.valid" class="btn btn-success" type="submit">
      Submit
    </button>
  </form>
</body>
