<div id="print-section">
  <h3>View person Details</h3>
  <div>
    <div>
      <label> <b> First Name: </b></label> {{ person.firstname }}
    </div>
    <div>
      <label> <b> Last Name: </b></label> {{ person.lastname }}
    </div>
    <div>
      <label> <b> Email Id: </b></label> {{ person.emailId }}
    </div>
    <div>
      <label> <b>Vaccin Id: </b></label> {{ person.cp_fk }}
    </div>
    <div>
      <label> <b> Image: </b></label>

      <img src="{{ person.url }}" width="300px" />
    </div>
    <button (click)="print()">print</button>
  </div>
</div>
