<h2>Liste des Personne</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last name</th>
      <th>Email id</th>
      <th>Image</th>
      <th>Actions</th>
      <th>VaccinId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>
        {{ person.firstname }}
      </td>
      <td>
        {{ person.lastname }}
      </td>
      <td>
        {{ person.emailId }}
      </td>
      <td>
        <div>
          <img src="{{ person.url }}" width="50px" />
        </div>
      </td>
      <a href="/vaccins">
        <button class="btn btn-Success">
          <td>
            {{ person.cp_fk }}
          </td>
        </button></a
      >

      <td>
        <button (click)="updatePerson(person.id)" class="btn btn-info">
          Update
        </button>
        <button
          (click)="deletePerson(person.id)"
          class="btn btn-danger"
          style="margin-left: 10px"
        >
          Delete
        </button>
        <button
          (click)="detailsPerson(person.id)"
          class="btn btn-info"
          style="margin-left: 10px"
        >
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>
