<h2>Liste des Personne</h2>

<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search..."
    [(ngModel)]="filterTerm"
  />
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last name</th>
      <th>Email id</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons | filter: filterTerm">
      <td>
        {{ person.firstname }}
      </td>
      <td>
        {{ person.lastname }}
      </td>
      <td>
        {{ person.emailId }}
      </td>
      <td>
        <div>
          <img src="{{ person.url }}" width="100px" />
        </div>
      </td>

      <td>
        <button (click)="updatePerson(person.id)" class="btn btn-info">
          Update
        </button>
        <button
          (click)="deletePerson(person.id)"
          class="btn btn-danger"
          style="margin-left: 10px"
      
        >
          Delete
        </button>
        <button
          (click)="detailsPerson(person.id)"
          class="btn btn-info"
          style="margin-left: 10px"
        >
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>
