<h3>Update User</h3>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label> First name</label>
    <input
      id=""
      name="firstname"
      [(ngModel)]="person.firstname"
      type="text"
      class="form-control"
      placeholder=""
      required
    />
  </div>

  <div class="form-group">
    <label> LAst name</label>
    <input
      id=""
      name="lastname"
      [(ngModel)]="person.lastname"
      type="text"
      class="form-control"
      placeholder=""
      required
    />
  </div>

  <div class="form-group">
    <label> EmailId</label>
    <input
      id=""
      name="emailId"
      [(ngModel)]="person.emailId"
      type="text"
      class="form-control"
      placeholder=""
      required
    />
  </div>
  <div class="form-group">
    <label> Image</label>
    <input
      id=""
      name="url"
      [(ngModel)]="person.url"
      type="text"
      class="form-control"
      placeholder="url"
      required
    />
  </div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
