<h2>Pfizer</h2>
<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search..."
    [(ngModel)]="filterTerm"
  />
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>LAst name</th>
      <th>Email</th>
      <th>ID vaccin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons | filter: filterTerm">
      <div>
        <img src="{{ person.url }}" width="100px" />
      </div>
      <td>
        {{ person.firstname }}
      </td>
      <td>
        {{ person.lastname }}
      </td>
      <td>
        {{ person.emailId }}
      </td>
      <td>
        {{ person.cp_fk }}
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
