<div class="ok">
  <img
    src="https://img.etimg.com/thumb/msid-79592510,width-1015,height-761,imgsize-261105,resizemode-8,quality-100/prime/pharma-and-healthcare/2021-is-all-about-vaccine-transportation-piramal-schott-kaisha-are-ready-with-sturdy-vials.jpg"
    width="300px"
  />
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vaccin of vaccins">
      <td>
        {{ vaccin.id }}
      </td>
      <td>
        {{ vaccin.firstname }}
      </td>
      <td>
        {{ vaccin.lastname }}
      </td>
      <td>
        {{ vaccin.phone }}
      </td>
    </tr>
  </tbody>
</table>
