<h2>Liste des vaccinne</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last name</th>
      <th>Email id</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vaccin of vaccins">
      <td>
        {{ vaccin.firstname }}
      </td>
      <td>
        {{ vaccin.lastname }}
      </td>
      <td>
        {{ vaccin.emailId }}
      </td>
      <td>
        <div>
          <img src="{{ vaccin.url }}" width="50px" />
        </div>
      </td>
      <td>
        <button (click)="updatevaccin(vaccin.id)" class="btn btn-info">
          Update
        </button>
        <button
          (click)="deletevaccin(vaccin.id)"
          class="btn btn-danger"
          style="margin-left: 10px"
        >
          Delete
        </button>
        <button
          (click)="detailsvaccin(vaccin.id)"
          class="btn btn-info"
          style="margin-left: 10px"
        >
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>
