<div class="ok">
  <img
    src="https://www.cheshiremed.org/sites/default/files/styles/max_width_495/public/2021-04/wecandoit-1400.jpg?itok=ADZa_5qf"
    width="700px"
  />
</div>
<div class="container mt-5">
  <h4>Inscription a notre platfrom pour le vaccins</h4>

  <h2>
    <a href="/vaccins"> Consulter la liste des vaccins disponibles </a>
  </h2>

  <div class="row">
    <div *ngFor="let d of Homedisplay" class="col-lg-3">
      <div class="box">
        <img src="{{ d.urlToImage }}" width="100%" />
        <h5 class="mt-2 mb-2">{{ d.title }}</h5>
        <p>{{ d.content }}</p>
        <a href="{{ d.url }}" class="btn btn-dark btn-sm mt-2"> Read More</a>
      </div>
    </div>
  </div>
</div>
<!--  <a href="/create-vaccins"> Ajouter nouveau Vaccin</a>
  <h2>Liste des vaccin</h2>
  <div class="container mt-5">
    <div class="container mt-5">
      <div class="ok">
        <a href="/create-persons"> Choisir votre Vaccin</a>

        <h3 class="ok">Pfizer</h3>

        <img
          class="ok"
          src="https://s.france24.com/media/display/a5c42004-38ce-11eb-a84d-005056a98db9/w:1280/p:16x9/15ac0537c59280d0526241bd046bb0701dea4e95.webp"
          width="300px"
        />
        <p>
          Le vaccin COMIRNATY® (également connu sous le nom de BNT162b2) créé
          par les laboratoires Pfizer et BioNtech est autorisé par les autorités
          américaines depuis vendredi 11 décembre 2020. L'opération
          gouvernementale "Warp Speed (la vitesse de l'éclair, en français), est
          lancée. Elle permet le déploiement rapide du vaccin sur le territoire
          américain.
        </p>
      </div>
      <div class="ok">
        <a href="/create-persons"> Choisir votre Vaccin</a>

        <h3 class="ok">Sinovac</h3>
        <img
          class="ok"
          src="https://photos.lci.fr/images/819/460/vaccin-chinois-sinovac-covid-19-ea722a-0@1x.jpeg"
          width="300px"
        />
        <p>
          Contrairement aux vaccins déjà utilisés en France, le Sinovac repose
          sur une technique plus traditionnelle. Exit donc la technologie
          ultra-innovante de l'ARN messager (Pfizer, Moderna) ou l'adénovirus
          (AstraZeneca, Johnson & Johnson), ce vaccin du laboratoire chinois
          utilise la technique du virus inactivé qui aide la personne vaccinée à
          produire des anticorps contre le virus. Il ne contient donc pas le
          virus vivant, mais suffit à conférer la protection aux patients. Un
          fonctionnement similaire aux vaccins contre la grippe ou le tétanos,
          par exemple.
        </p>
      </div>
    </div>
  </div>
 -->
