.box {
  padding: 10px 10px;
  background-color: rgb(211, 227, 248);
}

.box h5 {
  font-size: 16px;
}
.ok {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.ok > h3 {
  text-align: center;
}
.ok > img {
  text-align: center;
  top: auto;
}
